.input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.5px;
  &__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  span {
    color: red;
  }
  &__inputField {
    width: 100%;
    input {
      padding: 10px;
      border: 2px solid #ddd;
      border-radius: 5px;
      width: 100%;
      &.input--error {
        border-color: red;
        outline: none;

        &:focus {
          border-color: red;
        }
      }
    }
  }

  &__error {
    color: red;
    font-size: 14px;
  }
}

.radio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  &__label {
    font-weight: bold;
    span {
      color: red;
    }
  }
  &__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    .radio__option {
      display: flex;
      flex-wrap: wrap;
      white-space: nowrap;
      justify-content: flex-start;
      gap: 5px;
      align-items: center;
    }
  }
}
