.dropdown {
  display: inline-block;
  position: relative;

  .dropdown-item {
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
