.form {
  border: 5px solid #75afe6;
  border-radius: 10px;
  max-width: 450px;
  width: 100%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    display: inline-block;
    background-image: linear-gradient(
      45deg,
      rgba(121, 160, 219, 1) 30%,
      rgba(150, 103, 191, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: 5% 3px;
    background-position: 0 100%;
    text-decoration: none;
    margin-bottom: 10px;
  }
  &__inputField {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    &__nameField {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
      margin-bottom: 10px;
    }
    &__emailField {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
      margin-bottom: 10px;
    }
    &__passwordField {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
      margin-bottom: 10px;
    }
    &__radioField {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      p {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      &__radioOptions {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;

        .input {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          flex-direction: row-reverse;
          &__inputField {
            line-height: 0;
            color: #ddd;
            outline: none;
            border: none;
          }
        }
      }
    }
  }
  &__buttons {
    margin-top: 20px;
    width: 100%;

    .submitButton {
      width: 100%;
      background: #79a0db;
      background: linear-gradient(
        45deg,
        rgba(121, 160, 219, 1) 30%,
        rgba(150, 103, 191, 1) 100%
      );
    }
  }
}
