.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px;
  &__button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

    &__commonButton {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
    }
  }
  &__accordion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

    .custom__accordion {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 24px;
      color: red;
      &__header {
        background-color: bisque;
        &:hover {
          background-color: rgb(227, 201, 169);
        }
      }
    }
  }
  &__input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;

    &__commonInput {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__tab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    .date-range-button {
      background-color: #ddd;
      border: none;
      padding: 10px 16px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #3b82f6;
      }
    }

    .tabs__tab__button.classHeader {
      color: red;
      background-color: #ffe4e1;

      &:hover {
        background-color: #ffdad3;
      }
      &.tabs__tab__button--active {
        color: green;
      }
    }
    .tabs__content.classContent {
      color: red;
      p {
        color: blue;
      }
    }
  }
  &__dropdown {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    .baseDropdown {
      &.component__dropdown {
        .baseDropdown__menu {
          min-width: 300px;
        }
      }
      .dropdownTrigger {
        border: 2px solid #ddd;
        border-radius: 10px;
        display: flex;
        padding: 5px;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        padding-right: 10px;
      }
    }
  }
}
